# === WEB AREA ===
# old content archive
# .archive/

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# === APPS AREA ===
# Binaries and object files
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Visual Studio Code specific files (optional, but recommended)
.vscode/

# NuGet packages (optional)
.vs/

# Additional common files to ignore
*.exe
*.dll
*.pdb
*.suo
