---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="container">
		<main>
			<p class="message">[website under construction]</p>
		</main>
		<footer>
			<a class="main-link" href="https://github.com/rezahidayatm">
				Reza Hidayat M.
			</a>
			<p class="credits">
				Powered by
				<a href="https://astro.build">
					<img
						src="https://github.com/rezahidayatm/barengreza/raw/41d8d48a1554f9f35004f8a3f2920680f6f73449/web/.archive/template-astro/assets/astro.svg"
						alt="Astro Logo"
					/>
				</a>
			</p>
		</footer>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: #000000;
	}
	main {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		--main-transition: background-color 0.3s ease;
		transition: var(--main-transition);
		background-image: url("https://github.com/rezahidayatm/barengreza/raw/41d8d48a1554f9f35004f8a3f2920680f6f73449/web/.archive/template-astro/assets/background.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}
	.message {
		font-size: 1.5rem;
		/* font-weight: 600; */
	}
	.main-link {
		/* color: #a200b8; */
		text-decoration: none;
	}
	.credits {
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	.credits img {
		height: 75%;
		width: 75%;
		padding-left: 0.25rem;
		padding-top: 0.25rem;
	}
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
	}
</style>
